/* ForgotPage.module.css */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
  padding: 2rem;
  min-height: 90vh;

}
.forgot{
    min-height: 100vh;
}
.leaf {
  filter: brightness(0) saturate(100%);
  margin-left: 15px;
}

.text-wrapper {
  color: #000;
  font-family: "Funnel Display", Helvetica;
  margin-left: 20px;
  font-size: 36px;
  font-weight: 600;
  left: 2px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 30px;
}
.formCard {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.heading {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 1.5rem;
  font-family: "Funnel Display", Helvetica;
}
.infoText {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1.5rem;
}
.popup {
  position: fixed;
  font-family: "Poppins", Helvetica;

  top: 20px;
  right: 20px;
  padding: 1rem;
  border-radius: 5px;
  color: white;
  z-index: 1000;
  animation: fade-in-out 3s ease-in-out;
}

.success {
  background-color: #4caf50;
}

.error {
  background-color: #f44336;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: #bce08a;
}

.button {
  background-color: #bce08a;
  color: #fff;
  padding: 0.75rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #a4c26e;
}

.message {
  color: #555;
  margin-top: 1rem;
  font-size: 0.95rem;
}
